.logo-outer {
    padding: 15px 0px;

    .items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $user-backgroundcolor;
        border-radius: 10px;

        .category {
            display: flex;
            justify-content: space-between;
            padding-top: 10px;

            p {
                font-size: $size-h6;
                color: $lightfontcolor ;
            }

            a {
                i {
                    color: $lightfontcolor;
                    padding-left: 15px;
                }
            }
        }

        .products {
            display: flex;
            border: 0;
            font-size: $small-size;
        }

        button {
            border: none;
            i {
                color: $lightfontcolor;
                font-size:  $size-h6;
            }
        }
    }

    .user-outer {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;

        .support {
            p {
                margin-bottom: 0;
                color: $lightfontcolor ;
                font-size: $small-size;
                text-align: right;
            }

            a {
                text-decoration: none;
                color: $dark-fontcolor;
            }
        }

        .user {
            display: flex;

            i {
                padding: 15px;
                background-color: $user-backgroundcolor;
                border-radius: 50%;
                margin: 2px;
            }
        }

        .cart {
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                color: $lightfontcolor ;
                margin-bottom: 0;
                padding-right: 5px;
            }

            i {
                color: $lightfontcolor ;
            }
        }
    }
}

.menu-outer {
    display: block;


    .menu {
        display: flex;
        border-top: 0.5px solid $lightfontcolor;
        padding: 40px 0px;

        ul {
            padding-left: 0px;

            li {
                display: inline-block;
                padding-right: 15px;

                a {
                    text-decoration: none;
                    color: $lightfontcolor ;
                    font-size: $size-h6;
                }
            }
        }
    }
}