@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/*xl*/
/*lg*/
/*md*/
/*sm*/
/*xs*/
/* @media only screen and (min-width: 768px) and (max-width: 1199px) {} */
.logo-outer {
  padding: 15px 0px;
}
.logo-outer .items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 10px;
}
.logo-outer .items .category {
  border: none;
  outline: none;
  color: #7c7878;
}
.logo-outer .items .category p {
  font-size: 18px;
  color: #7c7878;
}
.logo-outer .items .category a i {
  color: #7c7878;
  padding-left: 15px;
}
.logo-outer .items .products {
  display: flex;
  border: 0;
  font-size: 14px;
}
.logo-outer .items button {
  border: none;
}
.logo-outer .items button i {
  color: #7c7878;
  font-size: 18px;
}
.logo-outer .user-outer {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.logo-outer .user-outer .support p {
  margin-bottom: 0;
  color: #7c7878;
  font-size: 14px;
  text-align: right;
}
.logo-outer .user-outer .support a {
  text-decoration: none;
  color: #222222;
}
.logo-outer .user-outer .user {
  display: flex;
}
.logo-outer .user-outer .user i {
  padding: 15px;
  background-color: #f8f8f8;
  border-radius: 50%;
  margin: 2px;
}
.logo-outer .user-outer .cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-outer .user-outer .cart p {
  color: #7c7878;
  margin-bottom: 0;
  padding-right: 5px;
}
.logo-outer .user-outer .cart i {
  color: #7c7878;
}

.menu-outer {
  display: block;
}
.menu-outer .menu {
  display: flex;
  border-top: 0.5px solid #7c7878;
  padding: 40px 0px;
}
.menu-outer .menu ul {
  padding-left: 0px;
}
.menu-outer .menu ul li {
  display: inline-block;
  padding-right: 15px;
}
.menu-outer .menu ul li a {
  text-decoration: none;
  color: #7c7878;
  font-size: 18px;
}

.banner-outer {
  display: block;
  height: 710px;
  background-image: url(../images/background-pattern.jpg);
}
.banner-outer .banner .left-banner {
  background-color: #e6f3fa;
  border-radius: 10px;
  padding: 50px 0px;
  height: 675px;
}
.banner-outer .banner .left-banner .text-outer {
  padding-left: 50px;
  padding-top: 50px;
}
.banner-outer .banner .left-banner .text-outer h5 {
  color: #fcc952;
}
.banner-outer .banner .left-banner .text-outer p {
  color: #7c7878;
  padding-bottom: 40px;
}
.banner-outer .banner .left-banner .text-outer a {
  text-decoration: none;
  color: #7c7878;
  border: 1px solid #7c7878;
  padding: 15px;
  border-radius: 3px;
}
.banner-outer .banner .left-banner .banner-image img {
  width: 300px;
  height: 500px;
}
.banner-outer .banner .right-bannertop {
  background-color: #eef5e5;
  border-radius: 10px;
  margin-bottom: 35px;
  height: 320px;
}
.banner-outer .banner .right-bannertop .text-outer {
  padding-left: 30px;
  padding-top: 50px;
}
.banner-outer .banner .right-bannertop .text-outer p {
  color: #7c7878;
}
.banner-outer .banner .right-bannertop .text-outer a {
  text-decoration: none;
  color: #7c7878;
}
.banner-outer .banner .right-bannertop .banner-image img {
  width: 280px;
  height: 280px;
}
.banner-outer .banner .right-bannerbottom {
  background-color: #f9ebe7;
  border-radius: 10px;
  height: 320px;
}
.banner-outer .banner .right-bannerbottom .text-outer {
  padding-left: 30px;
  padding-top: 50px;
}
.banner-outer .banner .right-bannerbottom .text-outer p {
  color: #7c7878;
}
.banner-outer .banner .right-bannerbottom .text-outer a {
  text-decoration: none;
  color: #7c7878;
}
.banner-outer .banner .right-bannerbottom .banner-image img {
  width: 270px;
  height: 100%;
}

.trending-products {
  display: block;
}
.trending-products .proucts-outer .products .product-image img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.chocolate .muffins .right-image img {
  width: 290px;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-outer {
  padding: 80px 0px;
}
.footer-outer .footer .footer-logo {
  padding-right: 15px;
}
.footer-outer .footer .customer-service h5 {
  padding-bottom: 25px;
}
.footer-outer .footer .customer-service ul {
  padding-left: 0px;
}
.footer-outer .footer .customer-service ul li {
  list-style-type: none;
}
.footer-outer .footer .customer-service ul li a {
  text-decoration: none;
  color: #b6b6b6;
}
.footer-outer .footer .subscribe-us h5 {
  padding-bottom: 25px;
}
.footer-outer .footer .subscribe-us p {
  color: #b6b6b6;
}
.footer-outer .footer .subscribe-us form {
  display: flex;
}
.footer-outer .footer .subscribe-us form .quotes {
  background-color: #000000;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */